.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  margin-top: 50px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.navb{
  background-color:  #171717;
  height: 50px;
  width:113%;
}
.aiplayground{
color: #ffffff;
width: 113%;
margin-left: -1109px;
margin-top: 0px;
padding-top: 13px;
}
.learnai{
  color: #ffffff;
  margin-right: -3100px;
  margin-top: -27px;
  padding-top: 13px;
}
.docs{
  color: #ffffff;
  margin-right: -3250px;
  margin-top: -31px;
  padding-top: 13px;
}
.account{
  color: #ffffff;
  height:25px;
  margin-left: 100px;
  margin-top: -25px;
}
.outer-div{
  color: #ffffff;
  margin-right: -3349px;
  margin-top: -24px;
  padding-top: 14px;
}
.navbar-top{
  background-color: #1f1f1f;
  color: white;
}
.Rectangle {
  margin-left: 600px;
  margin-top: -800px;
  width: 1500px;
  height: 800px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.08);
  background-color: #171717;
}
.Rectangle2{
  margin-left: 225px;
  margin-top: -800px;
  width: 500px;
  height: 600px;
  border-radius: 2px;
  color: #1f1f1f;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: #1f1f1f;
}
.Rectangle-4-Copy-2 {
  margin-left: 50px;
margin-top: -42px;
margin-bottom: 30px;
  width: 136px;
  height: 25px;
  border-radius: 53px;
  background-color: #404040;
  color: whitesmoke;
  padding: 16px;
}
.Rectangle-4-Copy-3 {
  margin-left: 318px;
  margin-top: -41px;
  margin-bottom: 30px;
  width: 136px;
  height: 25px;
  border-radius: 53px;
  background-color: #404040;
  color: whitesmoke;
  padding: 16px;
}

.Apply-Changes {
  background-color: #66d68d;
  margin-left: -444px;
  border-radius: 2px;
  font-family: Quicksand;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
  width: 149px;
height: 31px;
}

.Type-message-here {
    margin-left: -549px;
    margin-top: 50px;
    width: 484px;
    height: 58px;
    padding: 13px;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a9a9a9;
    border: none;
    background-color: #1f1f1f;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
